<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 電影訂票網</title>

    <!-- 小符號引用 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
    @RenderSection("Styles", required:false)

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">電影訂票網</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">電影全覽</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="~/Carts/Index">訂票夾</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#"></a>
                    </li>
                </ul>
                <div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="~/Carts/Index" class="cart-img me-2"><i class="fa-solid fa-cart-shopping"></i></a>
                        <a href="~/Members/Index" class="btn btn-primary mx-2">個人資訊</a>
                        <a href="~/Members/Logout" class="btn btn-danger mx-2">登出</a>
                    }
                    else
                    {
                        <a href="~/Carts/Index" class="cart-img me-2"><i class="fa-solid fa-cart-shopping"></i></a>
                        <a href="~/Members/Register" class="btn btn-primary mx-2">註冊</a>
                        <a href="~/Members/Login" class="btn btn-danger mx-2">登入</a>
                    }

                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center"> 2025 - 北商大 第八組 電影票訂票系統</p>
        </footer>
    </div>
    <!-- Sweet Alert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @Scripts.Render("~/Scripts/vue.global.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
