@model IEnumerable<ServerSide.Models.ViewModels.PriceIndexVm>

@{
    ViewData["Title"] = "電影票券總覽";
}

<div class="container-fluid">
    <h1 class="fw-bolder mb-3">電影票券總覽</h1>
    <h6 class="mt-2">點擊表格瀏覽各電影當前票券</h6>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" width="100%" cellspacing="0" id="myTable">
                    <thead>
                        <tr style="background-color:skyblue">
                            <th>
                                @Html.DisplayNameFor(model => model.MovieId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MovieTitle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketCount)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        //在table row加上onclick事件、改滑鼠懸停狀態，點擊後觸發JavaScript函數，跳轉查看票券
                            <tr onclick="navigateToEdit('@item.MovieId','@item.MovieTitle')" style="cursor: pointer;">
                                <td>
                                    @Html.DisplayFor(modelItem => item.MovieId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MovieTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketCount)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



@section Styles
{
    <!-- Custom styles for this page -->
    <link href="~/js/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
}

@section Scripts
{
    <!-- jQuery -->
    <script src="~/js/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="~/js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/js/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/js/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- SBAdmin scripts -->
    <script src="~/js/js/sb-admin-2.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/js/demo/datatables-demo.js"></script>
    <script>
        //初始化DataTable套件 設置屬性
        $(document).ready(function () {
            $('#myTable').DataTable({
                "paging": true,
                "lengthChange": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "language":
                {
                    "lengthMenu": "每頁顯示筆數 _MENU_ ",
                    "zeroRecords": "沒有找到對應的資料",
                    "info": "顯示第 _START_ 到 _END_ 筆，共 _TOTAL_ 筆",
                    "infoEmpty": "顯示第 0 到 0 筆，共 0 筆",
                    "infoFiltered": "(從 _MAX_ 筆資料中過濾)",
                    "paginate":
                    {
                        "previous": "上一頁",
                        "next": "下一頁"
                    }
                }
            });

            $('#myTable_filter').hide();
        });
        //點擊表格Row跳轉到該電影票券頁面
        function navigateToEdit(movieId, movieTitle) {
            //encodeURIComponent:將標題轉換為URL格式
            //注意JS傳遞參數名稱要和controller方法參數一致
            window.location.href = '/Prices/Details?movieId=' + movieId + '&movieTitle=' + encodeURIComponent(movieTitle);
        }
    </script>
}

